Xft.dpi: 140
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


XTerm*renderFont: true
#XTerm*faceName: xft:Terminus:medium:size=10
xterm*faceName: xft:Inconsolata Mono:size=10
#xterm*faceName: xft:mono:medium:size=10
