[Unit]
Description=Start the kanshi profile service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=sway-session.target
