[Unit]
Description=Autoname Hyprland workspaces
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/hyprland-autoname-workspaces -c /etc/hypr/autoname-workspaces.conf
Restart=always
RestartSec=10s

[Install]
WantedBy=graphical-session.target
